@import "../../../assets/mixins";
@import "../../../assets/variable";
@import "../../../assets/common";

// body{
//     background-color: azure;
// }
.h-100vh {
    height: 100vh;
  }
  .mb-15 {
    margin-bottom: 1.5rem;
  }
  .mt-30 {
    margin-top: 3rem;
  }
  .mt-15 {
    margin-top: 1.5rem;
  }
  .cmn_auth {
    // background-image: url(../assets/cmn_banner.jpg);
    // @extend .cmn_bg-img;
    height: calc(100vh - 110px);
    &-overlay {
      @extend .gradient_black_overlay ;
      @include opacity(0.9);
      // padding: 0 7rem;
      h1 {
        font-size: 5rem;
        text-transform: capitalize;
        color: $white;
        font-weight: 700;
        letter-spacing: 0.5px;
        line-height: 1.2;
        margin-bottom: 2rem;
        color: $black;
      }
    }
    &-form{
      min-width: 400px;
      max-width: 400px;
      margin: 0 auto;
      background: #F4F6F9;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(216, 221, 230);
      padding: 3rem 3rem;
      @include border_radius(4px);
    }
    &-regitration-form{
      max-width: 600px;
    }
    .cmn_auth-heading {
      font-size: 2.2rem;
      text-transform: uppercase;
      position: relative;
      text-align: center;
      padding-bottom: 0.7rem;
      letter-spacing: 1px;
      margin-bottom: 2.5rem;
      color: $white;
      font-weight: 600;
      color: $black;
      &:before {
        @extend .cmn_heading_border;
        background: $black;
      }
    }
  }

  label {
    color: rgb(22, 50, 92);
    font-weight: 600;
  }
  