<label>
  <ng-content></ng-content><span class="required-icon" *ngIf="required"> *</span>
</label>

<div class="form_warpper">
  <span class="inputfield_icon"></span>
  <!------ [formControl]="loginForm.controls['email']" ------>
  <input
        id="{{identifier}}"
        [formControl]="form.controls[name]" 
        name="{{name}}"
        type="{{type}}"
        [placeholder]="readonly ? '' : placeholder"
        [autofocus]="autofocus ? 'autofocus' : null"
        required="{{required}}"
        [ngModel]="defaultValue" 
        (ngModelChange)="ngModelChange($event)"
        [readonly]="readonly"
  />
  
  <emp-input-validation *ngIf="validation" [formInput]="form.controls[name]" [name]="name" ></emp-input-validation>
</div>
