.btn.btn-Draft {
    color: #fff;
    background: #ec971f;
    border-color: #d58512;
}

.btn.btn-Draft:hover {
    color: #fff;
    background: #ec971f;
    border-color: #d58512;
}

.btn.btn-Submit {
    color: #fff;
    background: #286090;
    border-color: #204d74;
}

.btn.btn-Submit:hover {
    color: #fff;
    background: #286090;
    border-color: #204d74;
}

.btn.btn-Close {
    background: #939393;
}