@import "../../../assets/variable";

.forminput__error {
  color: $danger;
  margin-bottom: 0;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
}
// @-webkit-keyframes example{
//     0%   {transform: translateY(-17px);}
//   50% {transform: translateY(-10px);}
//   100% {transform: translateY(-3px);}
// }
