$medium-desktop: "only screen and (max-width : 1800px)";
$small-desktop: "only screen and (max-width : 1200px)";
$tab: "only screen and (max-width : 991px)";
$mini-tab: "only screen and (max-width : 767px)";
$mobile: "only screen and (max-width : 575px)";