// color-scss

$sky-blue:#2196f3;
$dark-grey:rgb(70, 70, 70);
$light-grey:#eaeaea;
$black:#000;
$white:#fff;
$info:#33b5e5;
$primary:#0062cc;
$danger:#ff3547;
$success:#0de00dd5;
$button-deactivetae-color:#8ab7e9;
$nav_bg: #344955;
$dark_text_color: #283237;
$nav_text_color: #f5f8fa;
$hover_color: #4285f4;
$header_color: #2962FF;
$nav_border_color:#4c5f68;
$header-top-bg:#4285f4;
$header-bottom-bg:#F9AA33;

// background-scss

$nav-bg-color:#244a8f;
$theme-blue-color:#4680fe;